In [3]:
import numpy as np
# print numpy version 
print('np=',np.__version__)
import pandas as pd 
# print pandas version
print("pd=",pd.__version__)

np= 2.3.4
pd= 2.3.3

In [4]:
# reading all the datasets from the Retail Datasets folder
features = pd.read_csv('Retail Datasets/Features data set.csv')

sales = pd.read_csv('Retail Datasets/sales data-set.csv')

stores = pd.read_csv('Retail Datasets/stores data-set.csv')

In [5]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05-02-2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12-02-2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19-02-2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26-02-2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05-03-2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [6]:
sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05-02-2010      24924.50      False
1      1     1  12-02-2010      46039.49       True
2      1     1  19-02-2010      41595.55      False
3      1     1  26-02-2010      19403.54      False
4      1     1  05-03-2010      21827.90      False

In [7]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [9]:
print("Features dataset shape:", features.shape)
print("Sales dataset shape:", sales.shape)
print("Stores dataset shape:", stores.shape)
print("\n\n")
print("features Dataset")
features.info()
print("\nMissing values in features dataset:\n", features.isnull().sum())
print("\n\n")
print("sales Dataset")
sales.info()
print("\nMissing values in sales dataset:\n", sales.isnull().sum())
print("\n\n")
print("stores Dataset")
stores.info()
print("\nMissing values in stores dataset:\n", stores.isnull().sum())

Features dataset shape: (8190, 12)
Sales dataset shape: (421570, 5)
Stores dataset shape: (45, 3)



features Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

Missing values in features dataset:
 Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64



sales Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

Missing values in sales dataset:
 Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64



stores Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

Missing values in stores dataset:
 Store    0
Type     0
Size     0
dtype: int64

In [10]:
# Date parsing and specifying dayfirst=True for correct date interpretation (day is first in the date format)
features['Date'] = pd.to_datetime(features['Date'],dayfirst=True)
sales['Date'] = pd.to_datetime(sales['Date'] , dayfirst=True)

In [11]:
print("Unique Stores in features dataset:", features['Store'].nunique())
# Unique stores in sales dataset
print("Unique Stores in sales dataset:", sales['Store'].nunique())
# Unique stores in stores dataset
print("Unique Stores in stores dataset:", stores['Store'].nunique())

Unique Stores in features dataset: 45
Unique Stores in sales dataset: 45
Unique Stores in stores dataset: 45

The missing values in the features dataset will be handled after merging all the three datasets. It is because after merging, we will have better contextual information to impute the missing values more accurately.

In [12]:
# Merging datasets to create a comprehensive view
sales_features = pd.merge(sales, features, on=['Store', 'Date', 'IsHoliday'], how='left')
# sales is the core table.we want to retail all the sales records, so we do a left join.
final_df = pd.merge(sales_features,stores, on='Store', how='left')

In [13]:
# final_df shape 
print("Final merged dataset shape:", final_df.shape)
# check if any rows got duplicated 
expected_rows = sales.shape[0]
actual_rows = final_df.shape[0]
print("Row count preserved after merge:", expected_rows == actual_rows)

# Check missing values in final_df 
final_df.isnull().sum().sort_values(ascending=False)

Final merged dataset shape: (421570, 16)
Row count preserved after merge: True

MarkDown2       310322
MarkDown4       286603
MarkDown3       284479
MarkDown1       270889
MarkDown5       270138
Store                0
Date                 0
Dept                 0
Fuel_Price           0
Temperature          0
IsHoliday            0
Weekly_Sales         0
CPI                  0
Unemployment         0
Type                 0
Size                 0
dtype: int64

In [14]:
# save the final_df for later reuse
# create the directory if it does not exist
import os
os.makedirs('processed_data', exist_ok=True)
 
final_df.to_csv('processed_data/final_merged_retail_data.csv', index=False)